#site-footer {
  font-weight: 600;
  color: #b2b2b2;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 9rem;
  padding-bottom: 4rem;

  ul.footer-links {
    list-style: none;

    li {
      display: inline-block;

      a {
        color: #b2b2b2;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    li:nth-child(even) {
      border-left: 1px solid #b2b2b2;
      margin-left: 1.2rem;
      padding-left: 1.2rem;
    }
  }

  .footer-note {
    margin-top: 2rem;
  }

  .footer-copyright {
    margin-top: 0.5rem;
  }
}
