nav {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.nav__logo img {
  width: 3.7rem;
}

.nav__logo a span {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 1.2rem;
}

.nav__logo a:hover {
  color: $green;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}

li.nav__list__item {
  display: block;
  margin-left: 2.5rem;
  position: relative;
}

.nav__list__item__content {
  font-weight: 700;
  text-decoration: none;
  color: $black;
  padding: 2rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  border: 0;
  background: transparent;
  outline: 0;
}

li.nav__list__item--btn-container .nav__list__item__content {
  padding: 0;
  text-decoration: none;
}

li.nav__list__item--avatar-container .nav__list__item__content {
  padding: 1rem 0;
  text-decoration: none;
}

li.nav__list__item .nav__list__item__content.active {
  color: $darkGreen;
  box-shadow: 0px 1px 0px 0px $darkGreen;
}

li.nav__list__item:hover .nav__list__item__content {
  color: $green;
}

.nav__list__item:hover .nav__list__item__content_arrow {
  transform: rotate(180deg);
}

.nav__avatar__wrapper {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  margin-left: 1rem;
  position: relative;
}

.nav__avatar {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.nav__list__item__content_arrow {
  width: 1.3rem;
  height: 1.5rem;
  margin-left: 1rem;
  background-image: url("../img/nav/arrow_down.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 200ms ease;
}

li.nav__list__item:hover .nav__list__dropdown {
  bottom: auto;
}

li.nav__list__item:hover .nav__list__dropdown {
  display: block;
}

.nav__list__dropdown.dd-enter {
  top: 80%;
  opacity: 0;
}
.nav__list__dropdown.dd-enter-active {
  top: 100%;
  opacity: 1;
}
.nav__list__dropdown.dd-exit {
  top: 100%;
  opacity: 1;
}
.nav__list__dropdown.dd-exit-active {
  opacity: 0;
  top: 80%;
}

.nav__list__dropdown {
  transition: all 200ms ease;
  top: 100%;
  position: absolute;
  list-style: none;
  white-space: nowrap;
  left: 50%;
  width: 17rem;
  transform: translateX(-50%);
}

.nav__list__dropdown__spacing {
  height: 2.3rem;
  width: 100%;
}

.nav__list__dropdown__corner {
  width: 6rem;
  height: 2rem;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0.8rem;
  transform: translateX(-50%) scale(0.7, 0.6);
}

.nav__list__dropdown__corner div {
  transform: rotate(45deg);
  width: 3rem;
  height: 3rem;
  margin-top: 0.5rem;
  background-color: $green;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.16);
}

.nav__list__dropdown__shaddow {
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.16);
}

.nav__list__dropdown__item .link-element {
  padding: 1.4rem 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  color: #727272;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.nav__list__dropdown__item .link-element:hover {
  background: #f8f8f8;
}

.nav__list__dropdown__item--green .link-element {
  background: $green;
}

.nav__list__dropdown__item--green .link-element:hover {
  background: $lightGreen;
}

.nav__list__dropdown__item--green .link-element {
  color: #ffffff;
}

.nav__list__dropdown__item__line {
  width: 100%;
  padding: 0 2rem;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
}

.nav__list__dropdown__item__line div {
  background: #e8e8e8;
  width: 100%;
  height: 2px;
}

.nav__list__dropdown__item__text {
  flex-grow: 1;
  text-align: left;
  margin-right: 1rem;
}

.nav__list__dropdown__item__icon {
  width: 1.4rem;
  height: 1.4rem;
}
