#company-page-header {
  padding: 6rem 0 6rem;

  h1 {
    font-size: 5rem;
    color: $h1Color;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  p {
    margin: 1rem auto 0 auto;
    text-align: center;
    font-size: 1.7rem;
    color: $pLight;
    max-width: 75rem;
  }
}

#available-fields {
  margin-bottom: 6rem;
}

.company-page-contact__title {
  h2 {
    font-size: 3.8rem;
    font-weight: 700;
    text-align: left;
    color: $h2Color;
  }

  p {
    font-size: 1.7rem;
    color: $pLight;
    text-align: left;
    margin-top: 1rem;
  }
}

.company-page-contact__info {
  margin-top: 5rem;

  .contact-row {
    display: flex;
    margin-bottom: 2rem;

    .contact-row__icon {
      width: 3rem;
    }

    .contact-row__content {
      margin-left: 2rem;
      flex-grow: 1;
      color: $pLight;
    }
  }
}
