#home-header {
  padding: 3rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 3.2rem;
    font-weight: 400;
    flex-grow: 1;

    strong {
      font-size: 4.2rem;
      font-weight: 700;
    }
  }

  img {
    width: 45%;
  }
}

#available-objects {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
