.page-form {
  margin: 0 auto;

  input {
    display: block;
    width: 100%;
  }

  button {
    margin: 2rem auto 0 auto;
  }

  table.form-table {
    border-collapse: separate;
    border-spacing: 0 1em;

    label {
      color: #989898;
      padding-right: 3rem;
    }
  }
}

.page-form--center {
  margin: 0 auto;
  width: 27rem;
}

.page-form--left {
  margin: 0;

  .input-container {
    margin-left: 0;
    margin-right: 0;
  }

  button {
    margin: 2rem 0 0 0;
    width: 100%;
  }
}
