.reserve-timeslot {
  margin-bottom: 6rem;
}

.reserve-users {
  text-align: center;
  margin-bottom: 7rem;

  p {
    color: $pLight;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto 2rem auto;
  }

  .btn--add {
    margin: 0 auto;
  }
}

.reserve-end {
  margin-top: 3rem;

  h4 {
    text-align: center;
    color: $h4Color;
    text-transform: uppercase;
  }

  p {
    color: $pLight;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto;
  }

  form {
    width: 30rem;
    margin: 0 auto;
    margin-top: 4rem;

    .btn {
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
