.users-page__list {
  list-style: none;

  li.h-list-user-item {
    margin-bottom: 3rem;
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.16);

    .h-list-user-item-header {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 2rem;
      box-sizing: border-box;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);

      img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: block;
      }

      h5 {
        font-size: 1.8rem;
        color: #707070;
        margin-left: 2rem;
        flex-grow: 1;
      }
    }

    .h-list-user-item-content {
      display: flex;
      padding: 2rem;

      .h-list-user-item-content__meta {
        flex-grow: 1;

        table {
          border-collapse: separate;
          border-spacing: 0 0.3em;
        }

        tr {
          color: #b7b7b7;
          font-size: 1.5rem;
          padding: 0.5rem 0;

          td:nth-child(2) {
            color: #777777;
            padding-left: 2rem;
          }
        }
      }

      .h-list-user-item-content__btns {
        .btn {
          margin-bottom: 1rem;
          width: 100%;
        }
      }
    }
  }
}
