.form-message {
  color: #7e7e7e;
  background-color: #f4f4f4;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: -1rem;
  animation: slide-down 200ms ease;
  -webkit-animation: slide-down 200ms ease;
}

.form-message--error {
  background-color: $redError;
  color: #ffffff;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
  }
}
