.inputFieldWhite {
  padding: 1.2rem 1.7rem;
  border-radius: 0.4rem;
  border: 1px solid #d6d6d6;
  color: #989898;
  font-size: 1.3rem;
  box-sizing: border-box;
  outline: 0;
  transition: all 200ms ease;
  width: 100%;

  option {
    width: 10rem;
  }
}

.stripe-checkout {
  width: 35rem;

  h4 {
    text-align: center;
    color: $h4Color;
    margin-bottom: 1rem;
  }

  .stripe-card-wrapper {
    padding: 1.2rem 1.7rem;
    border-radius: 0.4rem;
    border: 1px solid #d6d6d6;
    color: #989898;
    font-size: 1.3rem;
    box-sizing: border-box;
    outline: 0;
    transition: all 200ms ease;
    margin-bottom: 1rem;
  }

  .btn {
    width: inherit;
  }
}

.input-container-wrapper {
  .DateInput {
    width: 100%;
    box-sizing: border-box;
  }
  .DateInput_input {
    border-radius: 0.4rem;
    border: 1px solid #d6d6d6;
    color: #989898;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1.2rem 1.7rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.inputFieldWhite:focus {
  border: 1px solid #96b64b;
  box-shadow: 0px 2px 2px 0px rgba(150, 182, 75, 0.35);
}

.inputFieldWhite--valid {
  border: 1px solid #96b64b;
}

.inputFieldWhite--valid:focus {
  border: 1px solid #84a13f;
  box-shadow: 0px 2px 2px 0px rgba(150, 182, 75, 0.35);
}

.inputFieldWhite--error {
  border: 1px solid #d99393;
}

.inputFieldWhite--error:focus {
  border: 1px solid #b52a2a;
  box-shadow: 0px 2px 2px 0px rgba(182, 75, 75, 0.35);
}

.input-container {
  position: relative;
  width: 27rem;
  margin: 0 auto 2rem auto;

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    display: inline-block;
  }

  .fileName {
    margin-left: 1rem;
    color: $pLight;
  }
}

.input-message {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateX(2rem) translateY(-50%);
  white-space: nowrap;
  background-color: $redError;
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  padding: 0.8rem 1.8rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  min-width: 20rem;
  transition: all 200ms ease;
}

.input-message img {
  width: 1.8rem;
  height: 1.8rem;
}

.input-message__content {
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.input-message__corner {
  transform: scaleY(0.7) translateX(-0.8rem) translateY(-60%);
  position: absolute;
  top: 50%;
  left: 0;
}

.input-message__corner div {
  width: 1.6rem;
  height: 1.6rem;
  background-color: $redError;
  transform: rotate(45deg);
}

.input-message-enter {
  left: 95%;
  opacity: 0;
}
.input-message-enter-active {
  left: 100%;
  opacity: 1;
}
.input-message-exit {
  left: 100%;
  opacity: 1;
}
.input-message-exit-active {
  left: 95%;
  opacity: 0;
}

/** WIP **/

@keyframes slide-left {
  0% {
    left: 100%;
    opacity: 1;
  }
  100% {
    left: 95%;
    opacity: 0;
  }
}

.input-message--unmounting {
  animation: slide-left 300ms ease;
}

.input-container-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  span {
    color: #7e7e7e;
  }

  span:nth-child(1) {
    width: 18rem;
  }

  .btn {
    margin-top: 1rem;
    width: 38rem;
  }

  /* Datepicker */
  .SingleDatePicker {
    margin: 0 2rem 0 2rem;
    width: 18rem;
  }

  .input-container {
    margin: 0 2rem 0 2rem;
    width: 18rem;
  }

  /* Timepicker */
  .time_picker_container {
    .react_times_button {
      box-shadow: none;
      border-radius: 0.4rem;
      border: 1px solid #d6d6d6;
      font-size: 1.4rem;
      color: #989898;

      svg {
        color: #989898;
      }
    }

    .time_picker_modal_container {
      width: 30rem;

      span {
        color: white;
      }
    }
    .time_picker_modal_header,
    .time_picker_modal_footer,
    .timezone_picker_modal_header,
    .picker_pointer .pointer_drag,
    .picker_pointer,
    .picker_center {
      background-color: $lightGreen;
    }
  }
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: $lightGreen;
  border: 1px double $darkGreen;
  color: #fff;
}

.input-container-delete {
  display: flex;
  justify-content: center;

  .input-container {
    margin-left: 0;
    margin-right: 0;
  }

  .btn {
    margin-top: 1px;
    margin-left: 1rem;
  }

  .input-message {
    transform: translateX(7rem) translateY(-50%);
  }
}

.timeslot-form {
  margin-bottom: 7rem;
}
