.page {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.page-controls {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;

  .btn:not(:first-child) {
    margin-left: 1rem;
  }
}

.page-message {
  color: $pLight;
  font-size: 1.8rem;
  min-height: 13rem;
  padding-bottom: 3rem;
}

.page-content {
  color: $pLight;
  padding-bottom: 3rem;
  line-height: 1.4em;

  a {
    text-decoration: none;
    font-weight: 600;
    color: #4e4e4e;
  }
  a:hover {
    text-decoration: underline;
  }
}

.page-content--min {
  min-height: 10rem;
}

.page-notfound {
  text-align: center;
  padding: 7rem 0 5rem;

  .code {
    font-size: 14rem;
    display: block;
    font-weight: 600;
    color: #4e4e4e;
  }
  .status {
    display: block;
    color: $pLight;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.tabs-area {
  .tabs__header {
    position: relative;
    z-index: 9;

    button.tab {
      background-color: #ffffff;
      padding: 1rem 5rem;
      min-width: 18rem;
      border: 0;
      outline: 0;
      font-weight: 600;
      font-size: 1.4rem;
      cursor: pointer;
      columns: #a5a5a5;
      box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.16);
    }

    button.tab:hover {
      background-color: #f7f7f7;
    }

    button.tab.tab--active {
      background-color: $green;
      color: white;
    }

    button.tab.tab--active:hover {
      background-color: $lightGreen;
    }
  }

  .tabs__content {
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    padding: 3rem 4rem;
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.16);
    display: flex;
  }

  .tabs__content__full {
    width: 100%;
  }
  .tabs__content__left {
  }
  .tabs__content__right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.field-datepicker {
  background-color: #96b64b;
  padding: 2.5rem 0;
  text-align: center;
  margin-bottom: 4rem;

  h3 {
    color: #e6feab;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .SingleDatePickerInput {
    background: transparent;

    .DateInput {
      width: 30rem;
      background: transparent;

      .DateInput_input {
        background: transparent;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        color: #ffffff;
        font-size: 4.5rem;
        font-weight: 300;
        cursor: pointer;
      }

      .DateInput_input:hover {
        color: #d3f5bd;
      }
    }
  }
}
