.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 6px;
  border: 6px solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(167, 167, 167) transparent transparent transparent;
}

.lds-ring.loader--btn {
  width: 18px;
  height: 18px;
  margin-right: 0.8rem;
  animation: scale-up 300ms ease;
}

@keyframes scale-up {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 17px;
    height: 17px;
  }
}

.lds-ring.loader--btn div {
  margin: 0;
  border: 3px solid;
}

.lds-ring.loader--light-green div {
  border-color: $btnGreenDisabledContent transparent transparent transparent;
}

.lds-ring.loader--green div {
  border-color: $green transparent transparent transparent;
}

.loader-page-wrapper {
  height: 40rem;
  min-height: 100vh;
  position: relative;
}

.loader--page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader--section {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: block;
  width: 36px;
  height: 36px;

  div {
    border: 3px solid;
  }
}

.lds-ring.loader--light-red div {
  border-color: $btnRedDisabledContent transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
