.notification {
  position: fixed;
  bottom: 4rem;
  right: 0;
  display: flex;
  padding: 1.3rem 2.5rem;
  align-items: center;
  z-index: 50;
  border-radius: 0.8rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 600ms ease;
  transform: translateX(-3rem);

  img {
    display: block;
  }

  span {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
  }
}

.notification--success {
  background-color: #96b64b;
}

.notification--error {
  background-color: #b52a2a;
}

.notification-enter {
  transform: translateX(100%);
}
.notification-enter-active {
}
.notification-exit {
}
.notification-exit-active {
  opacity: 0;
}
