$black: #000000;
$green: #96b64b;
$lightGreen: #a3c457;
$darkGreen: #759726;
$redError: #b52a2a;
$h1Color: #121212;
$h2Color: #4e4e4e;
$h4Color: #666666;
$pLight: #707070;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fdfdfd;
}

* {
  margin: 0;
  padding: 0;
}

input,
button {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 110rem;
  margin: 0 auto;
}

h1.page-title {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 4rem;
  color: $h1Color;
}

.page-btn {
  margin-bottom: 2rem;
}

h1.page-title--admin {
  text-align: left;
  font-weight: 600;
}

h1.page-title--left {
  text-align: left;
}

h2.page-subtitle {
  color: #707070;
  font-weight: 600;
  text-align: center;
}

h2.page-subtitle--left {
  text-align: left;
}

.section-title {
  margin-bottom: 5rem;

  h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    color: $h2Color;
  }

  .section-title__line {
    width: 12rem;
    height: 0.5rem;
    background: $green;
    margin: 1.3rem auto 0 auto;
  }
}

.section-title-message {
  color: $pLight;
  text-align: center;
  margin-bottom: 3rem;
}
