ul.hl-company {
  list-style: none;

  li {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.16);

    a {
      text-decoration: none;
      color: #000000;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      width: 100%;
      transition: all 150ms ease;
      outline: 0;
    }

    a:hover,
    a:focus {
      background-color: #f7f7f7;

      .hl-company__arrow div {
        margin-right: 5rem;
      }
    }

    .hl-company__image {
      height: 10rem;
    }

    .hl-company__content {
      flex-grow: 1;
      padding-left: 3rem;
      padding-right: 3rem;

      h3 {
        font-size: 2.5rem;
        font-weight: 600;
        display: block;
      }

      span {
        font-size: 1.4rem;
        color: #707070;
      }
    }

    .hl-company__arrow div {
      width: 5rem;
      height: 5rem;
      background-size: contain;
      background-position: center center;
      margin-right: 3rem;
      transition: all 150ms ease;
    }
  }
}
