ul.field-card-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.16);
    margin: 0 3rem 5rem;

    .field-card-image {
      width: 26rem;
    }

    .field-card-content {
      padding: 2rem;

      h3 {
        font-size: 2.4rem;
        text-align: center;
        font-weight: 600;
        color: $h2Color;
      }

      .field-card-sport {
        text-align: center;

        span {
          background-color: $lightGreen;
          color: #ffffff;
          font-size: 1.4rem;
          border-radius: 1.5rem;
          padding: 0.4rem 1.3rem;
          display: inline-block;
          position: relative;
          bottom: 0.7rem;
        }
      }

      .field-card-people {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;

        p {
          color: #bababa;
          margin-left: 1rem;
        }
      }

      .field-card-reserve {
        margin-top: 2rem;
        text-align: center;

        .btn {
          margin: 0 auto;
        }
      }
    }
  }
}
