ul.hl-polloption {
  list-style: none;

  li.hl-polloption__item {
    margin-bottom: 3rem;
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.16);
    position: relative;

    .percentage {
      font-size: 11rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 13rem;
      color: black;
      opacity: 0.05;
    }
    .percentage-line {
      position: absolute;
      top: 0;
      left: 0;
      width: 67%;
      height: 100%;
      background: black;
      opacity: 0.04;
      z-index: 4;
    }

    .hl-polloption__item__header {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 5;
      width: 100%;
      padding: 2rem;
      box-sizing: border-box;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: block;
      }

      h5 {
        margin-left: 2rem;
        font-size: 4rem;
        color: #b3b3b3;
        flex-grow: 1;
        font-weight: 300;

        .startTime {
          font-size: 4rem;
          display: inline-block;
        }

        .endTime {
          color: #c6c6c6;
          font-size: 2.2rem;
          display: inline-block;
          margin-left: 1.4rem;
          position: relative;
          bottom: 0.5rem;
        }

        .date {
          color: #a8a8a8;
          font-size: 2.2rem;
          display: inline-block;
          margin-left: 1.4rem;
          position: relative;
          bottom: 0.5rem;
        }

        .note {
          background-color: #b3b3b3;
          color: #ffffff;
          font-size: 1.4rem;
          margin-left: 1.4rem;
          border-radius: 1.5rem;
          padding: 0.4rem 1.3rem;
          display: inline-block;
          position: relative;
          bottom: 0.7rem;
        }

        .note--reserved {
          background-color: #ff5722;
        }

        .note--paid {
          background-color: $green;
        }

        .note--notpaid {
          background-color: $redError;
        }
      }

      .hl-polloption__item__header__btns .btn {
        margin-left: 1rem;
      }
    }
  }
}
