ul.h-list--small {
  list-style: none;

  li.h-list--small__item {
    margin-bottom: 3rem;
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.16);

    .h-list--small__item__header {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 2rem;
      box-sizing: border-box;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);

      .h-list--small__item__header__btns {
        display: flex;

        .btn {
          margin-left: 1rem;
        }
      }

      img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: block;
      }

      h5 {
        font-size: 1.8rem;
        color: #707070;
        margin-left: 2rem;
        flex-grow: 1;

        span {
          background-color: #b3b3b3;
          color: #ffffff;
          font-size: 1.4rem;
          margin-left: 1rem;
          border-radius: 1.5rem;
          padding: 0.4rem 1.3rem;
        }
      }
    }
  }
}
