ul.hl-timeslot {
  list-style: none;

  li.hl-timeslot__item {
    margin-bottom: 3rem;
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.16);

    .hl-timeslot__item__header {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 2rem;
      box-sizing: border-box;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: block;
      }

      h5 {
        margin-left: 2rem;
        font-size: 4rem;
        color: #b3b3b3;
        flex-grow: 1;
        font-weight: 300;

        .startTime {
          font-size: 4rem;
          display: inline-block;
        }

        .endTime {
          color: #c6c6c6;
          font-size: 2.2rem;
          display: inline-block;
          margin-left: 1.4rem;
          position: relative;
          bottom: 0.5rem;
        }

        .date {
          color: #a8a8a8;
          font-size: 2.2rem;
          display: inline-block;
          margin-left: 1.4rem;
          position: relative;
          bottom: 0.5rem;
        }

        .note {
          background-color: #b3b3b3;
          color: #ffffff;
          font-size: 1.4rem;
          margin-left: 1.4rem;
          border-radius: 1.5rem;
          padding: 0.4rem 1.3rem;
          display: inline-block;
          position: relative;
          bottom: 0.7rem;
        }

        .note--reserved {
          background-color: #ff5722;
        }

        .note--paid {
          background-color: $green;
        }

        .note--notpaid {
          background-color: $redError;
        }
      }

      .hl-timeslot__item__header__btns {
        display: flex;

        .btn {
          margin-left: 1rem;
        }
      }
    }

    .hl-timeslot__item__content {
      display: flex;
      padding: 2rem;

      .hl-timeslot__item__content__meta {
        flex-grow: 1;

        table {
          border-collapse: separate;
          border-spacing: 0 0.3em;
        }

        tr {
          color: #b7b7b7;
          font-size: 1.5rem;
          padding: 0.5rem 0;

          td {
            vertical-align: top;
          }

          td:nth-child(2) {
            color: #777777;
            padding-left: 2rem;
          }
        }
      }

      .hl-timeslot__item__content__btns {
        .btn {
          margin-bottom: 1rem;
          width: 100%;
        }
      }
    }
  }
}
