.btn--green {
  border-radius: 0.4rem;
  font-weight: 600;
  border: 0;
  background-color: #96b64b;
  color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.27);
  justify-content: center;
  text-decoration: none;
}

.btn--add,
.btn--delete {
  width: 4rem;
  height: 4rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.btn--add {
  background-image: url("../img/plus.svg");
}

.btn--delete {
  background-image: url("../img/minus.svg");
}

.btn--green-m {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.2rem 3.5rem;
  min-width: 17rem;
}

.btn--green-s {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.btn--green-s--wide {
  padding: 1rem 3rem;
}

.btn--green:hover {
  background-color: #a3c457;
}

.btn--green:disabled {
  background-color: #bfdc7a;
  color: $btnGreenDisabledContent;
}

.btn--green:focus {
  outline: 0;
  box-shadow: inset 0px 0px 0px 2px #789730;
}

.btn__success {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #96b64b;
  transition: all 200ms ease;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn__success-enter {
  opacity: 1;
}
.btn__success-enter-active {
  opacity: 1;
}
.btn__success-exit {
  opacity: 1;
}
.btn__success-exit-active {
  opacity: 0;
}
