.btn--red {
  border-radius: 0.4rem;
  font-weight: 600;
  border: 0;
  background-color: #b52a2a;
  color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.27);
  justify-content: center;
}

.btn--red-m {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.2rem 3.5rem;
  min-width: 17rem;
}

.btn--red-s {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.btn--red-s--wide {
  padding: 1rem 3rem;
}

.btn--red:hover {
  background-color: #d94040;
}

.btn--red:disabled {
  background-color: #d45858;
  color: $btnRedDisabledContent;
}

.btn--red:focus {
  outline: 0;
  box-shadow: inset 0px 0px 0px 2px #b52a2a;
}
