$btnGreenDisabledContent: #e1efc1;
$btnRedDisabledContent: #efc1c1;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 200ms ease;
  position: relative;
}

.btn:disabled {
  cursor: inherit;
}
